// COLORS
$color-primary: #33323d;
$greensy: #5fb4a2;
$dark-green: #203A4C;
$whitesy: #FAFAFA;
$white: #fff;

// FONTS
$PublicSans: "Public Sans", "Arial", sans-serif;
$Ibarra: "Ibarra Real Nova", "Arial", sans-serif;