.intouch-section {
  display: flex;
  justify-content: space-between;
}

.intouch-section__heading {
  margin: 0;
  font-family: $Ibarra;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: $color-primary;
}

.intouch-section__desc {
  max-width: 635px;
  margin: 0;
  font-family: $PublicSans;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $color-primary;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.intouch-section__list {
  @include list-unstyled;
  display: flex;
}

.intouch-section__list-item {
  &:not(:first-child) {
    margin-left: 16px;
  }
}
